<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let msg of messages | async">
      <button ion-button round item-end *ngIf="msg.sentBy === 'bot'">
        {{ msg.content}}
      </button>
      <button ion-button round color="danger" *ngIf="msg.sentBy === 'user'">
        {{ msg.content}}
      </button>
    </ion-item>
  </ion-list>
  <form [formGroup]="myForm" (ngSubmit)="sendMessage()">
    <ion-item>
      <ion-input formControlName="formValue" type="text" placeholder="輸入問題">
      </ion-input>
    </ion-item>
    <button ion-button block type="submit">送出
    </button>
  </form>

</ion-content>
